<table>
	<thead class="row header">
		<th class="col-0-5">
			<label class="checkbox" for="checked-all">
				<div class="mark {{CheckedAll ? ' checked' : ''}}">
					<span class="icon-ok"></span>
				</div>
				<input type="checkbox" id="checked-all" (click)="CheckAll()">
			</label>
		</th>
		<th title="Ordenar por numero de control" class="col-2 order" (click)="Order('u.idnumber')"> 
			No. Control
			<span *ngIf="order_by == 'u.idnumber'" class="icon-{{order == 'ASC' ? 'down' : 'up'}}-open"></span> 
		</th>
		<th title="Ordenar por nombre o apellido" class="col-4">
			<div class="order" (click)="Order('u.firstname')">
				Nombre
				<span *ngIf="order_by == 'u.firstname'" class="icon-{{order == 'ASC' ? 'down' : 'up'}}-open"></span> 
			</div>
			/
			<div class="order" (click)="Order('u.lastname')">
				Apellido
				<span *ngIf="order_by == 'u.lastname'" class="icon-{{order == 'ASC' ? 'down' : 'up'}}-open"></span> 
			</div>
		</th>
		<th title="Ordenar por area/especialidad" class="col-3-5 order" (click)="Order('c.name')">
			Area
			<span *ngIf="order_by == 'c.name'" class="icon-{{order == 'ASC' ? 'down' : 'up'}}-open"></span> 
		</th>
		<th class="col-2"></th>
	</thead>

	<tbody>
		<tr *ngFor="let U of Users; let i = index" class="row {{U.checked ? 'checked' : ''}}"> 
			<th class="col-0-5">
				<label class="checkbox" for="checked-{{U.id}}">
					<div class="mark {{U.checked ? 'checked' : ''}}" (click)="CheckSingle(i)">
						<span class="icon-ok"></span>
					</div>
					<input type="checkbox" id="checked-{{U.id}}" [checked]="U.checked" />
				</label>
			</th>
			<a [routerLink]="[U.id]">
				<td class="col-2">{{ U.idnumber }}</td>
				<td class="col-4">{{ U.firstname + ' ' + U.lastname }}</td>
				<td class="col-3-5">{{ GetTypeString(U) }}</td>
				<td class="col-2 right">
					<span *ngIf="T.HappyB(U.birthday*1000)" title="Es su cumple, vamos ve y felicital@!" class="icon-birthday animate-jump color-special"></span>
					<span title="Usuario registrado" *ngIf="U.type <= $.T_LOGGED" class="icon-user color-{{StatusClass[U.status]}}"></span>
					<span title="Administrivo {{StatusString[U.status]}}" *ngIf="U.type == $.T_ADMIN" class="icon-user-admin color-{{ StatusClass[U.status] }}"></span>
					<span title="Docente {{StatusString[U.status]}}" *ngIf="U.type == $.T_TEACHER" class="icon-book color-{{ StatusClass[U.status] }}"></span>
					<span title="{{ U.status == $.IS_APPLICANT ? 'Candidato a ingreso' : 'Alumno ' + StatusString[U.status]}}" *ngIf="U.type == $.T_STUDENT"
					class="icon-applicant color-{{ StatusClass[U.status] }}"></span>

					<span title="{{U.pid > 0 ? 'Ya se cuenta con imagen del usuario' : 'Aun no hay foto del usuario'}}" class="icon-pictures color-{{ U.pid > 0 ? 'active' : 'inactive'}}"></span>
					<span title="{{U.located > 0 ? 'Ubicación obtenida' : 'Aún sin ubicación'}}" class="icon-location color-{{ U.located > 0 ? 'active' : 'inactive'}}"></span>
					<span title="{{U.personal_phone.length > 0 ? 'Telefono de contacto conseguido' : 'Numero de contacto pendiente'}}"
						class="icon-phone color-{{ U.personal_phone.length ? 'active' : 'inactive' }}"></span>
				</td>
			</a>
		</tr>
		<tr class="row empty" *ngIf="Users.length < 1">No hay datos para mostrar</tr>
	</tbody>
</table>