.button {
	display: inline;
	text-transform: none;
}
input[type="file"]{
	display: none;
}
input, select {
	width: 100%;
}
span.img {
	display: block;
    height: 150px;
    width: 150px;
    background-color: #F1F1F1;
    border: solid 1px #DDD;
    padding: .5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.time.header { 
	text-align: center;
    padding: 5px;
    font-weight: bold;
    margin-top: 1rem;
}
.time > span {
	padding: 0 10px;
}
.time .col-3 { font-size: .9rem; }
.time select { 
	cursor: pointer;
	width: auto;
}

.list{
	border: solid 1px #EEE;
	padding: 0;
}
.list::before { 
	text-align: center;
	padding: 5px;
	border-bottom: solid 1px #EEE;
	font-weight: bold;
	display: block;
}

