<div class="row" id="header">
	<div class="title row">
		<h1>Academico</h1>
	</div>
</div>

<div class="tabs">
	<header>
		<a class="item" routerLinkActive="active" routerLink="/academy/checkin">
			<span class="icon-ok"></span>
      Asistencia
		</a>
		<a class="item" routerLinkActive="active" routerLink="/academy/sessions">
			<span class="icon-calendar"></span>
			Carga academica
    </a>
    <a class="item" routerLinkActive="active" routerLink="/academy/sessions">
			<span class="icon-group"></span>
			Grupos
    </a>
	</header>
	<div class="tab-body">
		<router-outlet></router-outlet>
	</div>
</div>
