.state-0, .color-inactive { color: #c0c0c0 }
.state-1, .color-success, .color-active { color: #00c00a }
.state-2, .color-error{ color: crimson; }
.color-info { color: rgb(85, 161, 203) }

.color-upgrade { color: rgb(1, 138, 230); }
.color-special { color: rgb(230, 169, 1); }

@keyframes loading
{
	from {left: -200px; width: 30%;}
	50% {width: 30%;}
	70% {width: 70%;}
	80% { left: 50%;}
	95% {left: 120%;}
	to {left: 100%;}
}

span.bullet {
	background-color: #ea0000;
  color: #FFF;
  font-size: .7rem;
  border: solid 1px #c10000;
  border-radius: 100%;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  font-weight: 600;
  box-shadow: 2px 2px 5px #00000066;
  line-height: 16px;
}
