<div class="tabs left">
	<header>
		<a *ngIf="$.CanDo('courses')" class="item" routerLinkActive="active" routerLink="courses">
			<span class="icon-book"></span>
			Especialidades
		</a>
		<a *ngIf="$.CanDo('campaigns')" class="item" routerLinkActive="active" routerLink="campaigns">
			<span class="icon-flag-checkered"></span>
			Campañas
		</a>
		<a *ngIf="$.CanDo('institutions')" class="item" routerLinkActive="active" routerLink="institution">
			<span class="icon-build"></span>
			Escuelas
		</a>
	</header>
	<div class="tab-body">
		<router-outlet></router-outlet>
	</div>
</div>
