.img {
	height: 45px;
    width: 45px;
    box-shadow: 3px 3px 9px #CCC;
    background-color: #EEE;
    background-size: cover;
    border-radius: 100%;
	background-position: center;
	margin: 0 auto;
}
.img.disabled { filter: grayscale(1); }

[class*="col-"]:not(th):not(.col-1){
	padding-top: 20px;
}
