span.tag
{
	font-size: .6rem;
	color: #FFF;
	background-color: #00C853;
	padding: .2rem .5rem;
	border-radius: .2rem;
	letter-spacing: .05rem;
}
span.tag.recent, span.tag.t0 { background-color: #0288D1; }
span.tag.t1 { background-color: #039BE5; }
span.tag.t2 { background-color: #03A9F4; }
span.tag.t3 { background-color: #29B6F6; }
span.tag.t4 { background-color: #4FC3F7; }
span.tag.t5 { background-color: #81D4FA; color: #333; }
span.tag.t6 { background-color: #B3E5FC; color: #333; }
span.tag.t7 { background-color: #E1E5EE; color: #333; }
span.tag.old { background-color: #EEE; color: #333; }
span.tag.forgotten { background-color: #F1F1F1; color: #555; }
span.tag.excluded { background-color: #922; color: #FFF; }

.tracking { border: none; }
.tracking .applicant.tracked {
	background-color: #E1F5FE;
	border: solid 1px #4FC3F7;
}
.tracking .applicant {
	padding: 1rem;
	border: solid 1px #F1F1F1;
}
.tracking .applicant .header {
	font-weight: 600;
	text-transform: uppercase;
}
.tracking .applicant .date {
	font-size: .8rem;
	color: #888;
	padding-bottom: .5rem;
}
.tracking .applicant .date i { margin: 0 1rem; }
.tracking .applicant .phone {
	font-size: 1.5rem;
	padding: .5rem;
}
.tracking .applicant .note {
	padding-left: 1rem;
}
.tracking .applicant .note input {
	border-width: 1px;
	width: 100%;
}
.tracking .applicant .note div {
	font-style: italic;
	font-size: .8rem;
	color: #888;
	white-space: normal;
    height: 3rem;
}
.tracking .applicant .note div span {
	font-weight: 600;
	display: block;
	color: #1F7BB1;
}
.tracking .applicant a { color: #333; }
.tracking .applicant:hover a:hover { color: #1F7BB1; }

a[class*="col-"] {
  padding: 0;
}
tbody .row:hover > a {
  background-color: #F8F8F8;
  border-radius: 0 10px 10px 0;
}

.flags > span { float: right; }

td:not(.assigned) { padding-top: 20px; padding-bottom: 20px; }

.assigned {
  text-align: center;
}
.assigned > div {
  border-radius: 20px;
  border: solid 1px #DDD;
  display: inline-block;
  padding: 10px 15px 10px 10px;
  position: relative;
  width: 150px;
  overflow: hidden;
  color: #AAA;
  background-color: #F1F1F1;
}
.assigned .on {
  border-color: #9aef9e;
  background-color: #f9fff9;
}
.assigned .on .text { color: #333; }
.assigned .current { background-color: #deffdf; }
.assigned .current.wrong {
  border-color: #efc79a;
  background-color: #ffe3de;
}

.assigned .icon {
  cursor: pointer;
  padding: 8px 2px;
}
.assigned .img, .assigned .icon, .other-tracking > .img {
  height: 38px;
  width: 38px;
  border-radius: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-color: #DDD;
  font-size: 1.5rem;
}
.assigned .img.inactive { filter: grayscale(1); }
.assigned .text {
  padding-left: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  height: 18px;
  text-align: left;
}
.assigned .icon:hover { color: #1f7bb1; }

.assigned .text:hover { color: #333; cursor: pointer; }

.assigned div .text span { display: block; }
.assigned div .text span:nth-child(2) { font-weight: 600; }
.assigned div[class]:not([class=""]) .text span:first-of-type {
  margin-top: 0;
  margin-bottom: 12px;
  transition: margin-top ease 200ms;
}
.assigned div[class]:not([class=""]):hover .text span:first-of-type {
  margin-top: -30px;
  transition: margin-top ease 200ms;
}

.quick-tracking { position: relative; }
.quick-tracking > .icon {
  color: #333;
  border-radius: 20px;
  padding: 5px;
  background-color: #FFF;
  transition: background-color ease-out 100ms;
  cursor: pointer;
}
.quick-tracking:hover > .icon {
  background-color: #F1F1F1;
  transition: background-color ease-out 100ms, color ease-out 100ms;
}
.quick-tracking > .icon:hover {
  color: #FFF;
  background-color: green;
  transition: color ease-out 100ms, background-color ease-out 100ms;
}
