<section *ngIf="Show">
  <!-- CodersDay -->
  <div title="Mantente curioso..." class="codersday monospace" (click)="RunMadafaca()">
    <span class="icon-code"></span>
    {{CodersDayText}}
  </div>

  <div class="codersday-canv {{ShowingCanvas ? '' : 'hide'}}">
    <canvas id="codersday"></canvas>
    <div class="message">
      <h1>Feliz día del programador</h1>
      <p>¡Hoy es el
        <a class="link" href="https://www.google.com/search?num=100&newwindow=1&q=Día+del+programador" target="_blank" title="Creeme...">
          día #256
        </a>
        del este año y se celebra el día del que escribe codigo! :P</p>
      <p (click)="EasterEgg = EasterEgg + 1;" class="keep">–Keep coding...</p>
      <p *ngIf="EasterEgg > 7" class="easter">¡Que! No piensas felicitar al creador de esta cosa... <br>¡Que mala persona! Ah pero hasta el día del taco celebras <span class="icon-emo-bad"></span> <br>Iré a llorar a mi cuarto.</p>
      <div (click)="StopMadafaca()" class="button">Entendido</div>
    </div>
  </div>
</section>
