<app-holidays></app-holidays>
<section id="status"
  class="
    {{S.Message != '' ? '' : 'hide'}}
    {{S.Class}}">
  <div class="container col-4">

    <div class="{{ S.IsLoading() ? 'loader' : 'bar'}}"></div>
    <div class="message">
      <div class="type">Inside</div>
      <p [innerHTML]="S.Message"></p>

      <p *ngIf="S.IsLoading() && S.LoadingTicks > 10" class="uptime">Esto ya tardó mucho... <span class="icon-emo-bad"></span></p>

      <a (click)="S.ClearState()" class="{{ ( !S.IsLoading() || S.LoadingTicks > 10 ) ? '' : 'hide'}} button">Cerrar</a>
    </div>
  </div>
</section>

<ng-container *ngIf="!Loading">
  <ng-container *ngIf="Me.id > 0">
    <section id="viewer" (mousemove)="S.Alive($event)">

      <app-core-header></app-core-header>

      <section class="wrap main">
        <router-outlet></router-outlet>
      </section>

      <footer>
        <p>Universidad Tamazunchale – {{Now() | date: 'yyyy'}}</p>
        <p>
          <a class="link" href="https://unitam.edu.mx/plataforma/">Plataforma</a> |
          <a class="link" href="https://unitam.edu.mx/web/">Sitio web</a> |
          <a class="link" href="https://facebook.com/UNITAM?ref=inside-unitam">Facebook</a>
        </p>
      </footer>
    </section>
    <div id="printer"></div>
  </ng-container>
  <app-login *ngIf="!(Me.id > 0)"></app-login>
</ng-container>
