<app-holidays></app-holidays>
<app-status></app-status>

<ng-container *ngIf="!Loading">
  <ng-container *ngIf="L.News.LoggedIn">
    <section id="viewer" (mousemove)="L.Alive($event)">

      <app-core-header></app-core-header>

      <section class="wrap main">
        <router-outlet></router-outlet>
      </section>

      <footer>
        <p>Universidad Tamazunchale – {{Now() | date: 'yyyy'}}</p>
        <p>
          <a class="link" href="https://unitam.edu.mx/plataforma/">Plataforma</a> |
          <a class="link" href="https://unitam.edu.mx/web/">Sitio web</a> |
          <a class="link" href="https://facebook.com/UNITAM?ref=inside-unitam">Facebook</a>
        </p>
      </footer>
    </section>
    <div id="printer"></div>
  </ng-container>
  <app-login *ngIf="!L.News.LoggedIn"></app-login>
</ng-container>
