.main { margin-top: 51px;}

.main.loggin { text-align: center; border: none; width: 100%; }
.main.loggin a { color: #1F7BB1; }
.main.loggin img { width: 60px; height: auto; display: block; margin: 0 auto; }

.main > * > p:first-of-type { color: #666; line-height: 1.3rem; font-size: .93rem; white-space: initial; }
