<div class="row" id="header">
	<div class="title row">
		<h1>Aspirantes</h1>
	</div>
</div>

<div class="tabs">
	<header>
		<a class="item"
			[class.active]="$.isActive(['/applicants/list']) || $.isActive(['/applicants/open'])" routerLink="/applicants/list">
			<span class="icon-users"></span>
			Aspirantes
			<span *ngIf="S.News.Applicants > 0" class="bullet pull-right">
				{{S.News.Applicants > 99 ? '+99' : S.News.Applicants}}
			</span>
    </a>
    <a class="item"
			[class.active]="$.isActive(['/applicants/inbox'])" routerLink="/applicants/inbox">
			<span class="icon-inbox"></span>
			Mensajes
			<span *ngIf="S.News.Messages > 0" class="bullet pull-right">
				{{S.News.Messages > 99 ? '+99' : S.News.Messages}}
			</span>
		</a>
    <a class="item"
      [class.active]="$.isActive(['/applicants/stats'])" routerLink="/applicants/stats">
			<span class="icon-chart"></span>
			Estadisticas
		</a>
	</header>
	<div class="tab-body">
		<router-outlet></router-outlet>
	</div>
</div>
