<p>Aqui llegan los mensajes enviados desde nuestro sitio web, del apartado <i><b>Contacto</b></i></p>
<div class="col-4 left-container">
	<div class="sbox">
		<span class="icon-search"></span>
		<input type="text" (keyup)="Search($event)" [(ngModel)]="search_string" placeholder="Busqueda en mensajes...">
	</div>

	<div class="list">
		<div *ngFor="let M of Messages; let i = index" class="row{{ M.id == Message.id ? ' selected' : '' }}{{M.seen_at > 0 ? '' : ' new'}}" (click)="SelectMessage(i)">
			<h1>
				<span title="{{M.aid > 0 ? (M.enrolled ? 'Esta inscrito con nosotros' : 'Esta registrado como aspirante') : 'Envió un mensaje'}}"
				class="icon-user color-{{ M.aid > 0 ? (M.enrolled ? 'special' : 'info') : 'inactive'}}"></span>
				{{M.firstname + ' ' + M.lastname}}
			</h1>
			<div class="date">
				<span class="empty">{{M.email}}</span>
				<span class="empty">{{ M.at * 1000 | date : 'dd/MM/yyyy' }}</span>
			</div>
			<p>{{M.message}}</p>
		</div>
	</div>

	<a class="link box center" *ngIf="LoadMore && Messages.length > 0" (click)="GetMessages( 'more' )">
		Mostrar mas
	</a>
</div>
<div class="view col-8">
	<div *ngIf="Message.id < 1" class="message-empty">
		Seleccione un mensaje para verlo completo
		<span class="icon-inbox"></span>
	</div>
	<div class="message" *ngIf="Message.id > 0">
		<h1>{{ Message.firstname + ' ' + Message.lastname }}</h1>
		<div class="contact" *ngIf="Message.email != '' || Message.phone != ''">
			<a *ngIf="Message.email != ''" href="mailto:{{Message.email}}">{{ '<' + Message.email + '>'}}</a>
			<a *ngIf="Message.phone != ''" href="tel:{{Message.phone}}">{{Message.phone}}</a>
		</div>
		<div class="date">Enviado {{ Message.at * 1000 | date : 'EEE dd/MMM/yyyy HH:mm:ss' }} </div>
		<div class="body">
			{{Message.message}}
		</div>
	</div>
	<div class="action-buttons" *ngIf="Message.id > 0">
		<button *ngIf="Message.aid < 1" (click)="ToApplicant()" class="button primary" title="Crear un nuevo aspirante con los datos del remitente actual">Convertir en aspirante</button>
		<button *ngIf="Message.aid > 0" (click)="ToApplicant()" class="button primary" title="Ver seguimiento de aspirante">Ver seguimiento</button>
		<button (click)="Delete()" class="button" title="Eliminar mensaje">Borrar</button>
		<button (click)="SelectMessage()" class="button">Cerrar</button>
	</div>
	<div class="response" *ngIf="Message.id > 0 && false">
		<div class="col-6">
			<textarea *ngIf="Message.response == ''" [(ngModel)]="Message.response"></textarea>
			<p *ngIf="Message.response != ''">{{ Message.response }}</p>
		</div>
		<div class="col-6">

		</div>
	</div>
</div>
