<div class="row">
  <div class="filter">
		<div class="col-4">
			<label for="sbox">Busqueda</label>
			<div class="sbox">
				<span class="icon icon-search"></span>
				<input id="sbox" type="text" (keyup)="search()" [(ngModel)]="search_string" placeholder="Búsqueda...">
			</div>
		</div>


		<div class="col-3" *ngIf="$.isAdmin()">
			<label for="to">Vista</label>
			<div class="dropdown">
				<button class="dropbtn">
					{{ FilterText()}} <span class="icon-down-open"></span>
				</button>
				<div class="dropdown-content" (click)="search()">
					<a (click)="setFilter(-1)">
						<span class="icon-{{isFilter(-1) ? 'ok' : 'noicon'}}"></span>
						Todos
					</a>
					<a (click)="setFilter($.PAID)">
						<span class="icon-{{isFilter($.PAID) ? 'ok' : 'noicon'}}"></span>
						Pagados
					</a>
					<a (click)="setFilter($.UNPAID)">
						<span class="icon-{{isFilter($.UNPAID) ? 'ok' : 'noicon'}}"></span>
						Pendientes
					</a>
				</div>
			</div>
		</div>

		<div class="col-{{$.isAdmin() ? '5' : '8'}} not-labeled">
			<a
				*ngIf="Checkeds() > 0"
				title="Imprimir pagos seleccionados"
				class="button pull-right separe-left"
				(click)="T.Print('printable', 'psv')">
					Imprimir
				</a>
			<a *ngIf="$.isAdmin() && Result > 0"
				title="{{ 'Registrar pago para ' + Pays[0].name + '...'}}"
				class="pull-right button primary"
				[routerLink]="[ '0/' + Result ]">
					Nuevo para {{ Pays[0].firstname }}
				</a>
			<a *ngIf="$.isAdmin() && Result < 1"
				title="Registrar nuevo pago"
				class="pull-right button"
				routerLink="0">
					Nuevo
				</a>
		</div>
	</div>

</div>

<div class="table">
	<table *ngIf="$.isAdmin()">
		<thead>
			<th class="col-0-5">
				<label class="checkbox" for="checked-all">
					<div class="mark {{CheckedAll ? ' checked' : ''}}">
						<span class="icon-ok"></span>
					</div>
					<input type="checkbox" id="checked-all" (click)="CheckAll()">
				</label>
			</th>
			<th title="Ordenar por numero de folio" class="col-1-5 order" (click)="Order('p.id')">
				Folio
				<span *ngIf="_OrderBy == 'p.id'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
			<th title="Ordenar por fecha de creación" class="col-1 order" (click)="Order('p.at')">
				Fecha
				<span *ngIf="_OrderBy == 'p.at'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
			<th title="Ordenar por nombre" class="col-2-5">
				<div class="order" (click)="Order('u.firstname')">
					Nombre
					<span *ngIf="_OrderBy == 'u.firstname'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
				</div>
				/
				<div class="order" (click)="Order('u.lastname')">
					Apellido
					<span *ngIf="_OrderBy == 'u.lastname'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
				</div>
			</th>
			<th title="Ordenar por concepto de pago" class="col-2-5 order" (click)="Order('p.concept')">
				Concepto
				<span *ngIf="_OrderBy == 'p.concept'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
			<th title="Ordenar por clave de referencia" class="col-2-5 order" (click)="Order('p.ref')">
				Referencia
				<span *ngIf="_OrderBy == 'p.ref'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
			<th title="Ordenar por monto total" class="col-1-5 order" (click)="Order('amount')">
				Monto
				<span *ngIf="_OrderBy == 'amount'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
		</thead>

		<tbody>
			<tr *ngFor="let P of Pays; let i = index"
				class="row {{P.checked ? 'checked' : (Result && i == 0 ? ' selected' : '')}}">
				<td class="col-0-5">
					<label class="checkbox" for="checked-{{P.id}}">
						<div class="mark {{P.checked ? 'checked' : ''}}" (click)="CheckSingle(i)">
							<span class="icon-ok"></span>
						</div>
						<input type="checkbox" id="checked-{{P.id}}" [checked]="P.checked" />
					</label>
				</td>
				<a routerLink="{{P.id}}">
					<td class="col-1-5"> <span class="icon icon-flag state-{{P.status}}"></span> {{ ("00000"+P.id).slice(-6) }}</td>
					<td class="col-1">{{ P.at*1000 | date: 'dd/MM/yy'}}</td>
					<td class="col-2-5">{{P.name}}</td>
					<td class="col-2-5">{{P.concept}}</td>
					<th class="col-2-5 monospace">{{P.ref}}</th>
					<td class="col-1-5">{{P.amount | currency : 'USD' : 'symbol' }}</td>
				</a>
			</tr>
			<div class="empty" *ngIf="Pays.length < 1">No hay pagos para mostrar</div>
		</tbody>
	</table>

	<table *ngIf="$.isStudent()">
		<thead>
			<th class="col-0-5">
				<label class="checkbox" for="checked-all">
					<div class="mark {{CheckedAll ? ' checked' : ''}}">
						<span class="icon-ok"></span>
					</div>
					<input type="checkbox" id="checked-all" (click)="CheckAll()">
				</label>
			</th>
			<th title="Ordenar por numero de folio" class="col-1-5 order" (click)="Order('p.id')">
				Folio
				<span *ngIf="_OrderBy == 'p.id'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
			<th title="Ordenar por fecha de creación" class="col-1-5 order" (click)="Order('p.at')">
				Fecha
				<span *ngIf="_OrderBy == 'p.at'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
			<th title="Ordenar por concepto de pago" class="col-3-5 order" (click)="Order('p.concept')">
				Concepto
				<span *ngIf="_OrderBy == 'p.concept'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
			<th title="Ordenar por clave de referencia" class="col-3 order" (click)="Order('p.ref')">
				Referencia
				<span *ngIf="_OrderBy == 'p.ref'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
			<th title="Ordenar por monto total" class="col-2 order" (click)="Order('amount')">
				Monto
				<span *ngIf="_OrderBy == 'amount'" class="icon-{{_Order == 'ASC' ? 'down' : 'up'}}-open"></span>
			</th>
		</thead>

		<tbody>
			<tr *ngFor="let P of Pays; let i = index"
				class="row {{P.checked ? 'checked' : (Result && i == 0 ? ' selected' : '')}}">
				<td class="col-0-5">
					<label class="checkbox" for="checked-{{P.id}}">
						<div class="mark {{P.checked ? 'checked' : ''}}" (click)="CheckSingle(i)">
							<span class="icon-ok"></span>
						</div>
						<input type="checkbox" id="checked-{{P.id}}" [checked]="P.checked" />
					</label>
				</td>

				<td class="col-1-5"> <span class="icon icon-flag state-{{P.status}}"></span> {{ ("00000"+P.id).slice(-6) }}</td>
				<td class="col-1-5">{{ P.at*1000 | date: 'dd/MM/yy'}}</td>
				<td class="col-3-5">{{P.concept}}</td>
				<th class="col-3 monospace">{{P.ref}}</th>
				<td class="col-2">{{P.amount | currency : 'USD' : 'symbol' }}</td>

			</tr>
			<div class="empty" *ngIf="Pays.length < 1">No hay pagos para mostrar</div>
		</tbody>
	</table>
</div>
<div *ngIf="LoadMore" (click)="GetPays( 'more' )" class="link box center">Mostrar más</div>

<div id="printable">
	<div class="row top">
		<div class="col-2">
			<img class="logo" src="assets/logo.png" alt="UNITAM">
		</div>
		<div class="col-6-5">
			<b>Universidad Tamazunchale</b>
			Patronato Potosino Hidalguense para el Fomento y Desarrollo de la Educación Susperior A. C.
		</div>
		<div class="col-3-5 right">
			<p>Reporte de fichas de pago </p>
			<p>Fecha: {{$.Now() | date: 'dd/MM/yy HH:mm:ss'}}</p>
		</div>
	</div>
	<div class="row header">
		<div class="col-2">Folio</div>
		<div class="col-2">Nombre</div>
		<div class="col-3">Concepto</div>
		<div class="col-1-5">Importe</div>
		<div class="col-1-5">Recargos</div>
		<div class="col-2">Total</div>
	</div>
	<div class="body">
		<div class="row" *ngFor="let P of CheckedPays()">
			<div class="col-2">
				<h1>{{ ("000000" + P.id).slice(-6)}}</h1>
				<p>{{ P.at*1000 | date: 'EEE, dd/MMM/yyyy'}}</p>
			</div>
			<div class="col-2">
				<h1>{{P.firstname + ' ' + P.lastname}}</h1>
				<p>{{P.hcname}} {{ P.hlevel > 0 ? T.Romanize(P.hlevel) : '' }}</p>
			</div>
			<div class="col-3">
				<h1>{{P.concept}}</h1>
				<p>{{P.ref}}</p>
			</div>
			<div class="col-1-5">{{P.import | currency : 'USD' : 'symbol' }}</div>
			<div class="col-1-5">{{P.charge | currency : 'USD' : 'symbol' }}</div>
			<div class="col-2">
				<h1>{{P.amount | currency : 'USD' : 'symbol' }}</h1>
				<p>{{P.status == 1 ? '(pagado)' : '(pendiente)' }}</p>
			</div>
		</div>
	</div>
</div>
